* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Product Sans Medium", sans-serif;
  font-size: 16px;
}

:root {
  --pri-color: #ffffff;
  --sec-color: #f7f7f7;
  --pri-heading: #3f3a64;
  --layout-color: rgba(0, 0, 0, 0.5);
  --pri-boder: #eee;
  --green: #009f4d;
  --light-green: #28a745;
  --layer: rgba(29, 42, 55, 0.8);
}

.row {
  display: flex;
  flex-wrap: wrap;
}
/* SEARCH ACTIVE */
body.search-active {
  overflow: hidden; 
}
body.search-active .search-input {
  opacity: 1;
  transform: none;
  pointer-events: all; 
}
body.search-active .closeSearch__icon {
  opacity: 1;
  transform: rotate(-90deg); 
}
body.search-active .search__btn {
  cursor: default; 
}
body.search-active .search__btn .btn-material {
  transform: scale(70); 
} body.search-active .search__btn .icon-material-search {
  opacity: 0; 
}
/* CLOSE SEARCH ICON */
.header-search .closeSearch__icon {
  position: absolute;
  color: #FFF;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  transition: all 0.3s ease-in-out; 
}
/* SEARCH INPUT  */
.search-input input {
  color: #fff;
  font-size: 54px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  outline: 0;
  font-weight: 200;
  height: 100vh;
  width: 100%; 
}
.search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate(40px, 0);
  transition: all 0.3s ease-in-out;
  width: 88%; 
}
/* HEADER */
header{
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
header .navbar-brand h1{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
header .navbar-brand i{
  color: var(--green);
  margin-right: 5px;
  vertical-align: bottom;
}
header .navbar-brand span{
  text-transform: none;
  display: block;
  font-size: 14px;    
  padding-left: 46px;
  font-weight: 600;
  opacity: .9;
  color: #fff;
}
header .navbar-nav .nav-item{
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
header .navbar-nav .nav-item.active .nav-link{
  opacity: 1;
  color: #fff;
}
header .navbar-nav .nav-item .nav-link{
  transition: all 0.5s ease;
  padding:14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: .8;
}
header .navbar-nav .nav-item:hover .nav-link{
  opacity: 1;
  color: #fff;
}
header .header-search .search__btn {
  cursor: pointer;
}
header .btn-material{
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: var(--green);
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
header .header-search .search__btn .btn-material i{
  color: #FFF;
  transition: opacity 0.3s ease-in-out;
}
  /* header .header-search .closeSearch__icon{
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  header .header-search .input-search{
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
  } */
header .navbar-toggler .navbar-toggler-icon{
  background-image: none;
  padding: 0;
  width: 34px;
  height: 34px;
  display: inline-block;
  background: var(--green);
  border-radius: 4px;
  text-align: center;
}
header .navbar-toggler .navbar-toggler-icon.fa{
  font-size: 20px;
  line-height: 1.2em;
  color: #fff;
  line-height: 34px;
}
header .navbar-nav .dropdown-menu {
  transform: translateX(-25%);
  background: #151421;
  border: 1px solid #151421;
  border-radius: 8px;
}
header .dropdown-menu a{
  font-size: 15px;
  color: #fff;
  background: none;
  opacity: .8;
  font-weight: 600;
  padding: 6px 20px;
  text-transform: uppercase;
}
header .dropdown-menu a:hover{
  opacity: 1;
  color: #fff;
  background-color: #151421;
} 
header .navbar-collapse{
  width: 100%;
}
.nav-fixed .search-right a {
  color: #666; 
}
.nav-fixed .navbar-nav .nav-item:hover .nav-link {
  color: var(--pri-heading);
 }
.navbar .search-right a:hover {
  color: #fff;
  opacity: 1; 
}
.nav-fixed .search-right a:hover {
  color: var(--green); 
}
header.nav-fixed {
  height: auto;
  padding: 15px 0; 
}
.nav-fixed .search-right a {
  color: var(--pri-heading); 
}
.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: var(--pri-heading);
  opacity: 0.7; 
}
.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: var(--green);
  opacity: 0.9; 
}
.nav-fixed .navbar-expand-lg .mode-container i {
  color: var(--pri-heading);
  opacity: 0.9;
}
.nav-fixed .navbar-expand-lg .navbar-brand {
  color: var(--pri-heading); 
}
.nav-fixed .navbar-expand-lg .navbar-brand span.sub-log {
  border-top: 8px solid var(--green); 
}
header.nav-fixed {
  padding: 0px;
  background-color: var(--pri-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05); 
}
header.nav-fixed .navbar-brand h1 {
  color: var(--pri-heading);
}

@media only screen and (max-width: 991px){
  header .navbar-nav .dropdown-menu {
    transform: translateX(0px);
  }
  header .container{
    width: 100%;
    padding: 0;
    max-width: 1200px;
  }
}
/* CAROUSEL */
.coCarousel .carousel-item{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  transition: transform 0.0000001s ease-in-out;
}

.coCarousel .carousel-item .carousel-caption{
  text-align: left;
}
.coCarousel .carousel-item h3{
    font-size: 55px;
    line-height: 1.1;
    margin-bottom: 18px;
    color:  var(--pri-color);
    max-width: 800px;
    font-weight: 600;
    text-align: left;
}
.coCarousel .carousel-item p{
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: var(--pri-color);
  letter-spacing: 2px;
  opacity: 0.9;
  text-align: left;
}
.coCarousel .carousel-item .coCarousel__overlay{
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--layer); 
}
.coCarousel .carousel-item .carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.coCarousel .carousel-item a{
  padding: 12px 45px;
  border-radius: 10px;
}
.coCarousel .carousel-control-prev{
  position: absolute;
  right: 0;
  border-bottom: 0;
}
.coCarousel .shape{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  background-color:#ffffff00;;
}
.coCarousel .shape svg{
  width: 100%; 
  overflow: hidden;

}
.coCarousel .shape path {
  fill: var(--sec-color); 
}
/* GALLERY */
.gallery {
  background-color: var(--sec-color);
  padding: 50px 0;
}

.gallery__content .title {
  text-align: center;
  color: var(--pri-heading);
}

.gallery__content .title p {
  color: #737373;
  font-size: 1rem;
  font-weight: 800;
}

.gallery__content .title h3 {
  font-size: 2rem;
  font-weight: 700;
}

.gallery__content .article .item a {
  position: relative;
  display: block;
  overflow: hidden;
}
.gallery__content .article .item {
  width: 33.3%;
}
.gallery__content .article .item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}
.gallery__content .article .item a:hover .gallery__img {
  transform: scale(1.2);
}
.gallery__content .article .item .gallery__overlay {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  background-color: var(--layout-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.gallery__content .article .item a:hover .gallery__overlay {
  opacity: 1;
  visibility: visible;
}

.gallery__content .article .item .hover__content {
  position: absolute;
  inset: auto auto 0 0;
  padding: 30px 50px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery__content .article .item a:hover .hover__content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.gallery__content .article .item .hover__content h3 {
  font-size: 1.5rem;
}

.gallery__content .article .item .hover__content p {
  font-size: 1rem;
}

.gallery__content .gallery__icon {
  border-top: 1px solid var(--pri-boder);
  justify-content: center;
}

.gallery__content .gallery__icon img {
  padding: 0 20px;
}
