* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Product Sans Medium", sans-serif;
  font-size: 10px;
}

:root {
  --primary-color: #100f19;
  --secondary-color: #151421;
  --layout-color: rgba(0, 0, 0, 0.5);
}

/* GALLERY */
.gallery {
  background-color: var(--primary-color);
}

.gallery__content .title {
  text-align: center;
  color: white;
}

.gallery__content .title p {
  color: #737373;
  font-size: 1.5rem;
  font-weight: 800;
}

.gallery__content .title h3 {
  font-size: 3.5rem;
  font-weight: 500;
}

.gallery__content .article {
  display: flex;
}

.gallery__content .article .item a {
  position: relative;
  display: block;
  overflow: hidden;
}
.gallery__content .article .item {
  width: 33.3%;
}
.gallery__content .article .item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.gallery__content .article .item a:hover .gallery__img {
  transform: scale(1.2);
}
.gallery__content .article .item .gallery__overlay {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  background-color: var(--layout-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.gallery__content .article .item a:hover .gallery__overlay {
  opacity: 1;
  visibility: visible;
}

.gallery__content .article .item .hover__content {
  position: absolute;
  inset: auto auto 0 0;
  padding: 30px 50px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
}
.gallery__content .article .item a:hover .hover__content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.gallery__content .article .item .hover__content h3 {
  font-size: 3rem;
}

.gallery__content .article .item .hover__content p {
  font-size: 1.5rem;
}

/*  */
